<div class="bg-gray-light border-bottom border-gray-light">
  <div class="container text-center py-5 mb-4">
    <img src="https://uploads-ssl.webflow.com/5f2c6dba183e4e456dfef9ac/601bbc5b16829062d224bf9c_Asset%2018%402x.png"
      class="w-100 img-fluid" style="filter: invert(1); max-width: 350px;" />
    <div class="mt-3 mb-4">
      <h1 class="h1 mb-0">LHD: Share Playlists</h1>
      <h2 class="h4 text-gray font-weight-light">Save Your Dev Playlist Here</h2>

    </div>
    {{#if session.user}}
      <form action="/" method="post" class="form-inline d-flex align-items-center justify-content-center">
        <input class="form-control mr-2" type="text" name="playlist_title" id="playlist_title"
          placeholder="playlist name" />
        <button class="btn btn-outline-dark" type="submit">Create</button>
      </form>
    {{else}}
      <a class="btn btn-primary text-white" href="/auth/login/github">
        Login with GitHub
      </a>
    {{/if}}
  </div>
</div>

<div class="container py-5 my-5" style="max-width: 980px;">
  {{#each playlists}}
    <div class="border p-5 mb-4">
      <div class="row">
        <div class="col-md">
          <h5 class="mb-0">
            <a href="/playlist/{{ playlist_id }}">
              {{ playlist_title }}
            </a>
          </h5>
          <p class="m-0">
            <span class="text-muted">by {{ created_by }}</span>
          </p>
        </div>
        {{#if isAuthorized}}
          <form action="/playlist/{{ playlist_id }}/video/delete/{{ id }}" method="post" role="form" class="col-md-1">
            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i></button>
          </form>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
